## Lendo Arquivo CSV

### A função read_csv da biblioteca pandas é usada para ler o conteúdo de um arquivo CSV no ambiente python como um DataFrame pandas.  A função pode ler os arquivos do sistema operacional usando o caminho apropriado para o arquivo.

In [5]:
# Importa pandas
import pandas as pd 
# Carrega a Base               #separação por ;
data = pd.read_csv('Churn.csv',sep=';') 
# Exibe primeiras linhas 
data.head()

   X0   X1  X2        X3  X4  X4.1        X6  X7  X8  X9         X10  X11
0   1  619  RS  Feminino  42     2         0   1   1   1  10134888.0    1
1   2  608  SC  Feminino  41     1   8380786   1   0   1  11254258.0    0
2   3  502  RS  Feminino  42     8   1596608   3   1   0  11393157.0    1
3   4  699  RS  Feminino  39     1         0   2   0   0   9382663.0    0
4   5  850  SC  Feminino  43     2  12551082   1   1   1    790841.0    0

## Leitura de linhas específicas

### A função read_csv da biblioteca pandas também pode ser usada para ler algumas linhas específicas para uma determinada coluna.  Cortamos o resultado da função read_csv usando o código mostrado abaixo para as primeiras 5 linhas da coluna chamada X2.

In [6]:
# Fatie o resultado para as primeiras 5 linhas
data[0:5]['X2']

0    RS
1    SC
2    RS
3    RS
4    SC
Name: X2, dtype: object

## Lendo colunas específicas

### A função read_csv da biblioteca pandas também pode ser usada para ler algumas colunas específicas.  Usamos o método de indexação multi-eixos chamado .loc () para este propósito.  Optamos por exibir a coluna  X2 (Estado) e X3 (Sexo) para as linhas de 0 a 10 .

In [15]:
# Use a função de indexação multi-eixos
data.loc[:10][['X2','X3']]

    X2         X3
0   RS   Feminino
1   SC   Feminino
2   RS   Feminino
3   RS   Feminino
4   SC   Feminino
5   SC  Masculino
6   RS          M
7   PR   Feminino
8   RS  Masculino
9   RS  Masculino
10  RS  Masculino

## Leitura de colunas e linhas específicas

### Exibindo as colunas X2 e X3 por linhas específicas  (1,5,15)

In [17]:
# Use a função de indexação multi-eixos
data.loc[[1,5,15],['X2','X3']]

    X2         X3
1   SC   Feminino
5   SC  Masculino
15  PR          M

## Lendo colunas específicas para um intervalo de linhas

### leia algumas colunas específicas e um intervalo de linhas entre 20 e 30

In [19]:
# Use a função de indexação multi-eixos
data.loc[20:30,['X2','X3']]

    X2         X3
20  RS          M
21  SC   Feminino
22  RP   Feminino
23  RS  Masculino
24  RS   Feminino
25  RS  Masculino
26  PR  Masculino
27  RS  Masculino
28  SP   Feminino
29  RS  Masculino
30  SC   Feminino