In [ ]:
# COMANDO PARA INSTALAR O PACOTE PANDAS VIA PIP  
# CASO NÃO TENHA-O INSTALADO EM SEU COMPUTADOR 
!pip install pandas

In [1]:
# Importa a biblioteca pandas como pd 
import pandas as pd

# PANDAS SERIES

In [5]:
# atribui objetos a variável dados
dados = (['a',2,'b',4])
# usa o pandas apelidado(pd) para transformar os dados em series 
s = pd.Series(dados) 
# exibe na tela o resultado da operação e o seu tipo de estrutura 
print(s)
print(type(s))

0    a
1    2
2    b
3    4
dtype: object
<class 'pandas.core.series.Series'>

# PANDAS DATAFRAME

In [7]:
# cria um dicionário chave-valor 
#colunas [ Nome, Idade ] e respectivos valores 
data = {'Nome':['Marcos','Paulo','Rita','Julia'],
        'Idade':[28,34,29,42]
       }
# usa a função DataFrame do pandas 
# atribui o objeto df ao resultado da operação 
df = pd.DataFrame(data)
# exibe o DataFrame 
display(df)

     Nome  Idade
0  Marcos     28
1   Paulo     34
2    Rita     29
3   Julia     42