<a href="https://colab.research.google.com/github/EricOliveira17/analise-de-dados-semi-estruturados-/blob/master/Titanic_models_by_Eric.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importando bibliotecas para as an√°lises

In [1]:
 
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

Carregamento do conjunto de dados
 
Fonte dos dados: https://www.kaggle.com/heptapod/titanic?select=train_and_test2.csv

In [2]:
titanic = pd.read_csv ("/content/drive/My Drive/Colab Notebooks/datasets%2F1275%2F2286%2Ftrain_and_test2.csv",sep=",",encoding="UTF-8")

Visualizando primeiras linhas do dataset

In [3]:
titanic.head ()

   Passengerid   Age     Fare  Sex  ...  Embarked  zero.17  zero.18  2urvived
0            1  22.0   7.2500    0  ...       2.0        0        0         0
1            2  38.0  71.2833    1  ...       0.0        0        0         1
2            3  26.0   7.9250    1  ...       2.0        0        0         1
3            4  35.0  53.1000    1  ...       2.0        0        0         1
4            5  35.0   8.0500    0  ...       2.0        0        0         0

[5 rows x 28 columns]

Tem valores nulos nestes dados ? se sim √© True , se n√£o √© Falseüëç

In [4]:
titanic.isnull()

      Passengerid    Age   Fare    Sex  ...  Embarked  zero.17  zero.18  2urvived
0           False  False  False  False  ...     False    False    False     False
1           False  False  False  False  ...     False    False    False     False
2           False  False  False  False  ...     False    False    False     False
3           False  False  False  False  ...     False    False    False     False
4           False  False  False  False  ...     False    False    False     False
...           ...    ...    ...    ...  ...       ...      ...      ...       ...
1304        False  False  False  False  ...     False    False    False     False
1305        False  False  False  False  ...     False    False    False     False
1306        False  False  False  False  ...     False    False    False     False
1307        False  False  False  False  ...     False    False    False     False
1308        False  False  False  False  ...     False    False    False     False

[1309 rows x 28 columns]

Vamos transformar as colunas Age(Idade) e Fare(custo de embarque) em valores inteiros para o modelo de aprendizado de m√°quina entender nosso treinamentoüòÑüëç

In [5]:
titanic["Age"] = titanic["Age"].astype(int)

In [6]:
titanic["Fare"] = titanic["Fare"].astype(int)

Agora vejamos que as colunas manipuladas se tornaram numeros inteiros e n√£o mais flutuantesüëè

In [7]:
titanic.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 28 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Passengerid  1309 non-null   int64
 1   Age          1309 non-null   int64
 2   Fare         1309 non-null   int64
 3   Sex          1309 non-null   int64
 4   sibsp        1309 non-null   int64
 5   zero         1309 non-null   int64
 6   zero.1       1309 non-null   int64
 7   zero.2       1309 non-null   int64
 8   zero.3       1309 non-null   int64
 9   zero.4       1309 non-null   int64
 10  zero.5       1309 non-null   int64
 11  zero.6       1309 non-null   int64
 12  Parch        1309 non-null   int64
 13  zero.7       1309 non-null   int64
 14  zero.8       1309 non-null   int64
 15  zero.9       1309 non-null   int64
 16  zero.10      1309 non-null   int64
 17  zero.11      1309 non-null   int64
 18  zero.12      1309 non-null   int64
 19  zero.13      1309 non-null   int64
 20  zero.14      1309 non-null   int64
 21  Pclass       1309 non-null   int64
 22  zero.15      1309 non-null   int64
 23  zero.16      1309 non-null   int64
 24  Embarked     1307 non-null   float64
 25  zero.17      1309 non-null   int64
 26  zero.18      1309 non-null   int64
 27  2urvived     1309 non-null   int64
dtypes: float64(1), int64(27)
memory usage: 286.5 KB

Quais s√£o as distribui√ß√µes estat√≠sticas dos dados num√©ricos ? veja agora !

In [8]:
titanic.describe ()

       Passengerid          Age         Fare  ...  zero.17  zero.18     2urvived
count  1309.000000  1309.000000  1309.000000  ...   1309.0   1309.0  1309.000000
mean    655.000000    29.484339    32.854851  ...      0.0      0.0     0.261268
std     378.020061    12.916721    51.749872  ...      0.0      0.0     0.439494
min       1.000000     0.000000     0.000000  ...      0.0      0.0     0.000000
25%     328.000000    22.000000     7.000000  ...      0.0      0.0     0.000000
50%     655.000000    28.000000    14.000000  ...      0.0      0.0     0.000000
75%     982.000000    35.000000    31.000000  ...      0.0      0.0     1.000000
max    1309.000000    80.000000   512.000000  ...      0.0      0.0     1.000000

[8 rows x 28 columns]

Os homens s√£o representados pelo n√∫mero "0" na coluna Sex(g√™nero), e as mulheres pelo n√∫mero 1 ! üí° veja abaixo a distribui√ß√£o de pessoas por g√™nero abordo do üö¢

In [9]:
titanic.Sex.value_counts ()

0    843
1    466
Name: Sex, dtype: int64

Vamos selecionar as vari√°veis que serviram para treinar o modelo na qual recebe nome de X , e a vari√°vel alvo que ser√° nossa preditiva Yüî¨üìà

In [10]:
X = titanic[["Age","Fare","Sex"]]
y = titanic["2urvived"]

Importando bibliotecas de aprendizado de m√°quina supervisionado, que s√£o as f√≥rmulas matem√°ticas e estat√≠sticas do nicho da intelig√™ncia artificial ü§ñ

In [11]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

Esse aqui √©  o modelo de Classificador de florestas aleat√≥rias + o separador de dados de Treino e Teste

In [12]:
modeloRFC = RandomForestClassifier (n_estimators=200,n_jobs=-1,random_state=0)

Aqui Aplicamos as inst√¢ncias do modelo com alhuns par√¢metros de n√∫mero de decis√µes, e repeti√ß√µes de c√°lculos

In [13]:
np.random.seed (0)
X_treino,X_valid,y_treino,y_valid = train_test_split (X,y,test_size=0.5,random_state=0)

Agora estipulado o n√∫mero de sequ√™ncia de c√°lculos, treinamos o modelo usando nossas vari√°veis X e y com par√¢metros de tamanho de teste e frequ√™ncia de c√°lculos.

In [14]:
modeloRFC.fit (X_treino,y_treino)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=-1, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

Veja como o train_test_split particiona os conjuntos de treino e teste do nosso modelo apartir dos par√¢metros estipulados anteriormente

In [15]:
X_treino.shape,X_valid.shape,y_treino.shape,y_valid.shape

((654, 3), (655, 3), (654,), (655,))

Agora chegou a hora de prever a valida√ß√£o dos nossos dados treinados apartir do fit(treinar) e agora com a fun√ß√£o predict(prever)

In [16]:
previsto = modeloRFC.predict(X_valid)

previsto os valores , agora resta saber a performance do modelo atrav√©s da m√©dia entre os valores iguais sob a vari√°vel alvo(preditora) e os valores previstos pelo modelo, este resultado tem nome de "Acuracia"

In [17]:
print(f"{modeloRFC}:")
print(f"Acuracia:{np.mean(y_valid == previsto)}")

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=-1, oob_score=False, random_state=0, verbose=0,
                       warm_start=False):
Acuracia:0.76793893129771

O modelo tem uma precis√£o de 76% ou seja ele acerta de cada 100 sobreviventes ou mortos 76 amostras.