## Bibliotecas Usadas

In [1]:
# Importes 
# Dependências ( xlrd , openpyxl )
import pandas as pd

### No sistema operacional deve-se conter um arquivo do tipo xlsx, advindo de planilha Excel ou Google Planilhas, com diretório acessível pelo usuário.

In [2]:
# Lendo o arquivo xlsx, por padrão a função do pandas read_excel trás a planilha 1 
# Usa-se openpyxl como motor de leitura, pois a biblioteca xlrd não tem mais suporte 
data = pd.read_excel('Excel_Produtos.xlsx', engine='openpyxl')

In [3]:
# Exibe linhas iniciais 
data.head(10)

     id                    Data  Produto  Preco
0   1.0 2021-01-16 17:23:44.120   Batata    2.0
1   2.0 2021-01-16 17:23:44.120  Cenoura    3.0
2   3.0 2021-01-16 17:23:44.120   Batata    2.0
3   4.0 2021-01-16 17:23:44.120  Cenoura    3.0
4   5.0 2021-01-16 17:23:44.120   Tomate    5.0
5   6.0 2021-01-16 17:23:44.120   Tomate    5.0
6   7.0 2021-01-16 17:23:44.120    Manga    4.0
7   8.0 2021-01-16 17:23:44.120    Manga    4.0
8   9.0 2021-01-16 17:23:44.120     Alho    2.5
9  10.0 2021-01-16 17:23:44.120     Alho    2.5

## Leitura de várias planilhas do Excel

#### Múltiplas planilhas com diferentes formatos de dados também podem ser lidas usando a função read_excel( ). Ele lerá as várias folhas na memória apenas uma vez. No exemplo abaixo, lemos a planilha 1 e a planilha 2 em dois quadros de dados e os imprimimos individualmente.

In [4]:
# O parâmetro sheet_name tem como estimador a planilha por localização de 0..N°
# E também por nome  específico da planilha 
df1 = pd.read_excel("Excel_Produtos.xlsx", sheet_name=0, engine='openpyxl')
df2 = pd.read_excel("Excel_Produtos.xlsx", sheet_name=1, engine='openpyxl')   

print("** Resultado Planilha 1 **")
print(df1.head())
print("")
print("** Resultado Planilha 2 **")
print(df2.head())

** Resultado Planilha 1 **
    id                    Data  Produto  Preco
0  1.0 2021-01-16 17:23:44.120   Batata    2.0
1  2.0 2021-01-16 17:23:44.120  Cenoura    3.0
2  3.0 2021-01-16 17:23:44.120   Batata    2.0
3  4.0 2021-01-16 17:23:44.120  Cenoura    3.0
4  5.0 2021-01-16 17:23:44.120   Tomate    5.0

** Resultado Planilha 2 **
    id                    Data   Produto  Preco
0  1.0 2021-01-16 17:23:44.120     Oleo    15.0
1  2.0 2021-01-16 17:23:44.120     Oleo    15.0
2  3.0 2021-01-16 17:23:44.120  Manteiga   12.0
3  4.0 2021-01-16 17:23:44.120  Manteiga   12.0
4  5.0 2021-01-16 17:23:44.120   Queijo     7.0

## Unindo as planilhas

###  O Pandas oferece vários recursos para combinar facilmente objetos Series, DataFrame e Panel.  No exemplo a seguir, a função concat( ) executa operações de concatenação ao longo de um eixo. Tornando as planilhas parte de um único DataFrame.

In [5]:
# Unir as Planilhas 1 e 2 por seus índices com concatenação 
pd.concat([df1.head(),df2.head()])

    id                    Data   Produto  Preco
0  1.0 2021-01-16 17:23:44.120    Batata    2.0
1  2.0 2021-01-16 17:23:44.120   Cenoura    3.0
2  3.0 2021-01-16 17:23:44.120    Batata    2.0
3  4.0 2021-01-16 17:23:44.120   Cenoura    3.0
4  5.0 2021-01-16 17:23:44.120    Tomate    5.0
0  1.0 2021-01-16 17:23:44.120     Oleo    15.0
1  2.0 2021-01-16 17:23:44.120     Oleo    15.0
2  3.0 2021-01-16 17:23:44.120  Manteiga   12.0
3  4.0 2021-01-16 17:23:44.120  Manteiga   12.0
4  5.0 2021-01-16 17:23:44.120   Queijo     7.0